body {
    background-color: #111;
    font-family: "Space Grotesk", sans-serif;
}

#app {
    display: flex;
}

nav {
    background: rgb(42,26,91);
    background: linear-gradient(23deg, #2a1a5b 0%, #3c2879 82%);
    border-bottom: 4px #171717 solid;
}

nav a.navbar-brand {
    margin-left: 5px;
}

nav a.navbar-brand p {
    margin-bottom: 0;
}

nav a.navbar-brand img {
    float: left;
    border: 2px #171717 solid;
    border-radius: 200px;
    margin-top: 5px;
    margin-right: 20px;
}

nav a.navbar-brand span.title {
    font-size: 44px;
    line-height: 50px;
    font-family: "Koulen", sans-serif;
}

nav a.navbar-brand span.subtext {
    display: block;
    color: #b1b1c4;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 0;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-style: italic;
}

ul#primary_nav {
    width: 250px;
    min-width: 250px;
    height: 100%;
    margin-top: 5px;
}

ul#primary_nav li.nav-item div.nav-controls {
    float: right;
    font-size: 20px;
    padding-top: 18px;
    padding-right: 25px;
    color: #ddd;
}

ul#primary_nav li.nav-item div.nav-controls span.badge {
    background-color: #1c1b1b;
}

ul#primary_nav li.nav-item a {
    display: block;
    padding: 20px 30px;
    color: #ddd;
    text-transform: uppercase;
    font-weight: bolder;
    height: 70px;
    line-height: 30px;
    background-color: #6A605C;
    margin-bottom: 5px;
    font-size: 20px;
}

ul#primary_nav li.nav-item > a.active {
    background-color: #3c2879;
}

#container {
    padding: 30px 50px;
}

#container div.form {
    display: none;
}

#container div.form.active {
    display: block;
}

#container div.form form div.form-field {
    float: left;
    width: 350px;
    margin-bottom: 20px;
}

#container div.form form div.form-field label {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2px;
}

#container div.form form div.form-field label.inline {
    display: inline;
}

#container div.form form div.form-field input[type='text'] {
    width: 300px;
}

#container div.form form div.form-field input[type='checkbox'], #container div.form form div.form-field input[type='radio'] {
    width: 50px;
    transform: scale(1.5);
    vertical-align: baseline;
}

#container div.subform {
    border: 3px #ccc solid;
    background-color: #06221f;
    padding: 10px 20px;
    margin-bottom: 15px;
}

#container div.subform .subitem {
    border-bottom: 3px #fff solid;
    margin-bottom: 10px;
}

#container div.subform div.subitem:nth-last-child(2) {
    border-bottom: none;
}

#container h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

div.clear { clear: both; }