<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
        
        <link href="vendor/css/bootstrap-5.3.0.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="css/main.css" rel="stylesheet">

        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
                    "octokit": "https://cdn.skypack.dev/@octokit/core@v4"
                }
            }
        </script>        
        <script src="vendor/js/bootstrap-5.3.1.bundle.min.js"></script>
    </head>

    <body>
        <div id="app">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        Manual Builder
                        <span>Make a Manual apworld for use with Archipelago!</span>
                    </a>
                </div>
              </nav>

            <div id="container">
                <div id="form_game" class="card form-card mb-3">
                    <form onsubmit="return false">
                        <div class="input-group">
                            <label for="game" class="form-label">
                                Game: 
                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="The name of the game that you're making a Manual apworld for."></i>
                            </label>
                            <input type="text" v-model.lazy="game" />
                        </div>
                        <div class="input-group">
                            <label for="creator" class="form-label">
                                Creator:
                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="People can have variations on a Manual randomizer approach, so we identify yours by your (probably Discord) name."></i>
                            </label>
                            <input type="text" placeholder="your name, probably" v-model.lazy="creator" />
                        </div>
                        <div class="input-group">
                            <label for="filler" class="form-label">
                                Filler Name:
                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="When generation runs out of items from your list to place somewhere, it needs to place 'filler' items. Choose what those are called by default. (You can still define more filler items to the right if you want multiple names beyond this.)"></i>
                            </label>
                            <input type="text" v-model.lazy="filler" />
                        </div>
                        <br /><br />

                        <div class="input-group">
                            <label for="starting_items" class="form-label">Starting Items: <b>*</b></label>
                            <em>Not supported in this builder yet. Add manually after.</em>
                        </div>
                        <br /><br />

                        <div class="input-group">
                            <input type="file" name="file" v-on:change="getImporter($event)" />
                            <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="If you have a functional Manual apworld file that you created before, you can choose that here. Then click the Import button below to pull the items/locations/etc. from that apworld into this tool."></i>
                            <div class="import-details" v-if="imported">
                                <div v-if="imported.status" v-html="imported.status"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-warning" v-on:click="imported && imported.fillAll()">Import from apworld</button>
                        </div><br /><br />
                        <div class="input-group">
                            <button class="btn btn-success" v-on:click="getExporter().toZip()">Export to apworld</button>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-info" v-on:click="getYaml().toYaml()">Export YAML</button>
                        </div>
                    </form>
                </div>

                <div id="forms-tabbed">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#form_items">Items ({{totalItemsByCount}})</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form_locations">Locations ({{locations.length}})</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#form_regions">Regions ({{regions.length}})</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="form_items" class="tab-pane show active" role="tabpanel">
                            <template v-for="(item, index) in items" :key="item.id">
                                <div :class="item.classification + (!isItemValid(item) ? ' validation_error' : '')">
                                    <div class="remove-this">
                                        <button class="btn btn-secondary" v-on:click="removeItem(index)"><i class="bi bi-dash-lg"></i></button>        
                                    </div>

                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="form-label">
                                                Name:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="The name that the item will have in the multiworld, such as in hints or when viewed in the Manual client."></i>
                                            </label>
                                            <input class="name" type="text" v-model.lazy="item.name" />
                                        </div>
                                    
                                        <div class="col">
                                            <label class="form-label">
                                                Categories:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Categories are used by the Manual client to group together items and locations. They also allow placing a random item from a category in a location, if you choose."></i>
                                            </label>
                                            <input type="text" v-model.lazy="item.categories" placeholder="Category 1, Category 2, etc." />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="form-label">
                                                Classification: 
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="The classification of an item determines how AP values placing the item. Progression means that it unlocks locations to check, useful means that it should not be excluded, and filler/trap are both non-essential."></i>
                                            </label>
                                            <select v-model.lazy="item.classification">
                                                <option value="progression">Progression</option>
                                                <option value="progression_skip_balancing">Progression (Skip Balancing)</option>
                                                <option value="useful">Useful</option>
                                                <option value="filler">Filler</option>
                                                <option value="trap">Trap</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">
                                                Count:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="How many of this item name do you want in the multiworld?"></i>
                                            </label>
                                            <input class="count" type="text" v-model.lazy="item.count" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div v-if="item.validation_error" class="validation_text">{{item.validation_error}}</div>
                                </div>
                            </template>

                            <div class="add-more">
                                <button class="btn btn-secondary" v-on:click="addItem()"><i class="bi bi-plus-lg"></i> Add Item</button>
                                <!-- <button class="btn btn-info" v-on:click=""><i class="bi bi-clipboard"></i> Copy all as JSON</button> -->
                            </div>
                        </div>
    
                        <div id="form_locations" class="tab-pane" role="tabpanel">
                            <template v-for="(location, index) in locations" :key="location.id">
                                <div :class="(location.victory ? 'victory' : '') + (!isLocationValid(location) ? ' validation_error' : '')">
                                    <div class="remove-this">
                                        <button class="btn btn-secondary" v-on:click="removeLocation(index)"><i class="bi bi-dash-lg"></i></button>        
                                    </div>

                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="form-label">
                                                Name:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="This is the name of the location, as it would show up in the multiworld when hinting for items. Also what is displayed in the Manual client."></i>
                                            </label>
                                            <input class="name" type="text" v-model.lazy="location.name" />
                                        </div>
                                    
                                        <div class="col">
                                            <label class="form-label">
                                                Categories:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Categories are used by the Manual client to group together items and locations."></i>
                                            </label>
                                            <input type="text" v-model.lazy="location.categories" placeholder="Category 1, Category 2, etc." />
                                        </div>
                                    </div>
                                 
                                    <div class="form-group row" style="margin-left: 0">
                                        <div class="col">
                                            <label class="form-label">
                                                Region:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="A region is a collection of locations that are in a similar 'area'. Regions can have their own requirements to be accessible, and they can also limit how they connect to other regions. If you're not sure what to put here, skip it."></i>
                                            </label>
                                            <select class="region" v-model.lazy="location.region">
                                                <template v-for="region_name in getRegionNames">
                                                    <option :value="region_name">{{region_name}}</option>
                                                </template>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label class="form-label">
                                                Requirements:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Location requirements are your randomizer's logic, essentially. The requirements listed here must be met for the location to be accessible (in logic). You may only use item names (and, optionally, a count of that item with ':2', for example) for these requirements."></i>
                                            </label>
                                            <textarea v-model.lazy="location.requirements" placeholder="e.g., |Master Sword| AND (|Lamp| OR |Fire Rod|) AND (|Crystal:7|)"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="form-label">
                                                Place Item:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="You can use this option to place a random item from a list, or a random item from a specific category, at a location. You can also specify only 1 item if you like. This will only ever choose one item to place."></i>
                                            </label>
                                            <select v-model.lazy="location.placement_type">
                                                <option value="none">Don't Place Item</option>
                                                <option value="single_item">By Name</option>
                                                <option value="category_item">By Category Name</option>
                                            </select> &nbsp;
                                            <input type="text" v-model.lazy="location.placement" class="name" placeholder="Match 1, Match 2, etc." />
                                        </div>
                                        <div class="col col-center">
                                            <input type="checkbox" v-model.lazy="location.victory" /> <label class="form-label">
                                                Victory?
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="You can only have 1 victory location in your apworld. By marking a location as victory, its requirements will be used by AP to determine the requirements for being able to complete the game. Since this is the last location before completion, no items are placed here."></i>
                                            </label>
                                        </div>
                                    </div>
                                    <hr />
                                    <div v-if="location.validation_error" class="validation_text">{{location.validation_error}}</div>
                                </div>
                            </template>

                            <div class="add-more">
                                <button class="btn btn-secondary" v-on:click="addLocation()"><i class="bi bi-plus-lg"></i> Add Location</button>
                                <!-- <button class="btn btn-info" v-on:click=""><i class="bi bi-clipboard"></i> Copy all as JSON</button> -->
                            </div>
                        </div>
    
                        <div id="form_regions" class="tab-pane" role="tabpanel">
                            <template v-for="(region, index) in regions" :key="region.id">
                                <div :class="(region.starting ? 'starting' : '') + (!isRegionValid(region) ? ' validation_error' : '')">
                                    <div class="remove-this">
                                        <button class="btn btn-secondary" v-on:click="removeRegion(index)"><i class="bi bi-dash-lg"></i></button>        
                                    </div>

                                    <div class="form-group row">
                                        <div class="col">
                                            <label class="form-label">
                                                Name:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="The name of the region that would contain locations. This is only shown in this Builder (as an option on your locations), and is not displayed in the multiworld."></i>
                                            </label>
                                            <input class="name" type="text" v-model.lazy="region.name" />
                                        </div>
                                    
                                        <div class="col">
                                            <label class="form-label">
                                                Connects To:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Regions are defined as forward-only exits/connections. In conjunction with the Starting Region option, this option determines how a later region can be reached. For example, if you're playing Minecraft and you're defining the Overworld region, you would say that the Nether region is a Connects To... but you would not say that the Overworld is a Connects To of the Nether region, because you're re-entering a region that you already accessed. If a region is not a Starting Region and no regions have it listed in their Connects To, that region is inaccessible and will likely break generation."></i>
                                            </label>
                                            <input type="text" v-model.lazy="region.connects_to" placeholder="Region 1, Region 2, etc." />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col">
                                            <input type="checkbox" v-model.lazy="region.starting" /> <label class="form-label">
                                                Starting Region?
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Determines whether this region is reachable from the beginning of the game. If none of your regions use this option, all regions are accessible from the beginning. If any of your regions use this option, the regions that don't must be listed in a Connects To of another region to be accessible."></i>
                                            </label>
                                        </div>

                                        <div class="col">
                                            <label class="form-label">
                                                Requirements:
                                                <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-title="Region requirements are your randomizer's logic, essentially. The requirements listed here must be met for the region, and any locations in the region, to be accessible (in logic). You may only use item names (and, optionally, a count of that item with ':2', for example) for these requirements."></i>
                                            </label>
                                            <textarea v-model.lazy="region.requirements" placeholder="e.g., |Master Sword| AND (|Lamp| OR |Fire Rod|) AND (|Crystal:7|)"></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <div v-if="region.validation_error" class="validation_text">{{region.validation_error}}</div>
                                </div>
                            </template>

                            <div class="add-more">
                                <button class="btn btn-secondary" v-on:click="addRegion()"><i class="bi bi-plus-lg"></i> Add Region</button>
                                <!-- <button class="btn btn-info" v-on:click=""><i class="bi bi-clipboard"></i> Copy all as JSON</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>

        <script src="vendor/js/jszip.min.js"></script>
        <script src="vendor/js/filesaver-1.3.8.js"></script>

        <script type="module" src="js/app.js"></script>
    </body>
</html>